@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Montserrat:wght@100&display=swap");
@import '../style/main.css';
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.flex-verainvie, .flex-invierno, .flex-verano {
  padding: 10px 90px 10px 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #5f7393;
  background-color: #80715f;
}
.flex-verainvie img, .flex-invierno img, .flex-verano img {
  height: 350px;
  padding: 50px;
  cursor: pointer;
  border-radius: 25%;
}
.flex-verainvie img:hover, .flex-invierno img:hover, .flex-verano img:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

header p {
  text-align: center;
  font-family: solid;
  color: white;
  background-color: #262626;
  height: 26px;
  width: 100%;
}
header nav ul li {
  padding: 10px;
  display: inline;
  font-size: 25px;
  overflow: hidden;
  margin: 10px;
}
header nav ul li a {
  color: black;
  -webkit-text-decoration: double;
          text-decoration: double;
  font-weight: bolder;
}
header .navegacion-barra {
  text-align: center;
  overflow: hidden;
}
header img .logo-marca {
  height: 50px;
}

/*---------------------------------seccion INICIO --------------------------------*/
/*----------main INICIO ----------*/
.texto-grid-index {
  background-color: #262626;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 25px;
  font-weight: bolder;
}

.imagen-portada {
  width: 100%;
}

.parrafo-inicio {
  font-weight: bolder;
  padding: 50px 200px 50px 200px;
}

.volver-arriba {
  text-align: center;
  font-family: "Montserrat", solid;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: black;
  display: block;
  padding: 4px;
  width: auto;
}

.volver-arriba:hover {
  transform: translateY(-5px);
}

h1 {
  text-align: center;
}

/*---------------------------------seccion verano ---------------------------------*/
/*----------main verano----------*/
/* ---------------------------------seccion invierno--------------------------- */ /* --------------------------------------CONTACTO----------------------------------*/
.contacto-info {
  text-align: center;
  padding: 15px;
  text-decoration: underline;
}

.form-contacto {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  font-family: "calibri";
  color: white;
  margin: auto;
}
.form-contacto p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-contacto a {
  color: white;
  text-decoration: none;
}

.control {
  width: 100%;
  font-family: "calibri";
  font-size: 18px;
  color: rgb(0, 0, 0);
  padding: 25px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid #060606;
}

.form-contacto a:hover {
  color: white;
}

.boton {
  width: 100%;
  background: #5f7393;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 16px;
}

/* --------------------------------------MARCAS----------------------------------*/
.marcasrecomendadas {
  text-align: center;
  font-weight: bold;
  -webkit-text-decoration: solid black underline;
          text-decoration: solid black underline;
}

.containermarcas {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0, 9fr 1fr 1fr;
  gap: 0px 50px;
  grid-auto-flow: row;
  grid-template-areas: "foto marcanombrescalpers" "foto info" "foto NADA";
  align-items: center;
  justify-items: center;
  font-weight: bold;
}
.containermarcas img {
  height: 450px;
}

.containermarcas .marcanombrescalpers {
  font-size: 35px;
}

.foto {
  grid-area: foto;
}

.NADA {
  grid-area: NADA;
}

.info {
  grid-area: info;
}

.marcanombrescalpers {
  grid-area: marcanombrescalpers;
}

.video-pasarela {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* --------------------------------------FOOTER----------------------------------*/
.footer {
  color: #262626;
  background-color: #262626;
  width: 100%;
  height: 100%;
}

.containerfooter {
  display: grid;
  height: 100%;
  width: auto;
  background-color: #262626;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
  padding-top: 10px;
  grid-template-areas: "mensajeatencion mensajeatencion mensajeatencion" "Direccion Direccion Direccion" "redes logo numero" "redes logo numero" ". . .";
}

.mensajeatencion {
  grid-area: mensajeatencion;
  color: white;
}

.mensajeatencion:hover {
  transform: translateY(-5px);
}

.Direccion {
  grid-area: Direccion;
  color: white;
}

.Direccion:hover {
  transform: translateY(-5px);
}

.redes {
  grid-area: redes;
}
.redes a {
  color: white;
  text-decoration: none;
}

.redes:hover {
  transform: translateY(-5px);
}

.numero {
  grid-area: numero;
  color: white;
}

.numero:hover {
  transform: translateY(-5px);
}

.logo {
  grid-area: logo;
}

/* --------------------------------------RESPONSIVE----------------------------------*/
/* -----------------RESPONSIVE INDEX----------------*/
@media (max-width: 2560px) {
  .main-index div img {
    width: 100%;
  }
  .caja-index-c3 {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .containerfooter {
    height: 14vw;
  }
}
@media (max-width: 1024px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px;
  }
  .containerfooter {
    height: 27vw;
  }
  .header-barra-flex {
    flex-direction: column;
  }
  .containermarcas {
    justify-content: end;
  }
}
@media (max-width: 595px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px;
  }
  .parrafo-inicio {
    font-weight: bolder;
    padding: 50px 100px 50px 100px;
  }
  .containermarcas {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    gap: 0 10px;
  }
}
@media (max-width: 450px) {
  .parrafo-inicio {
    font-weight: bolder;
    padding: 50px 80px 50px 80px;
  }
  .containerfooter {
    height: 100%;
  }
  .texto-grid-index {
    font-size: 12px;
  }
  .containerfooter {
    width: 100vw;
  }
  .containermarcas img {
    height: 200px;
  }
  .marcanombrescalpers {
    font-size: 23px;
  }
  .marcasrecomendadas {
    font-size: 25px;
  }
  .texto-grid-index {
    font-size: 14px;
  }
}
@media (max-width: 450px) and (max-width: 320px) {
  .header p {
    background-size: auto;
  }
  .parrafo-inicio {
    font-weight: bolder;
    padding: 30px 40px 30px 40px;
  }
  .containerfooter {
    width: 100%;
  }
  .containerfooter .Direccion {
    padding-left: 35px;
  }
  .form-contacto {
    width: 260px;
  }
}/*# sourceMappingURL=main.css.map */