.flex-verainvie {
    padding: 10px 90px 10px 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img {
        height: 350px;
        padding: 50px;
        cursor: pointer;
        border-radius: 25%;
    }
    img:hover{
        transform: scale(1.5);
        transition: 0.5s;
    }
    background-color: #5f7393;
    background-color: #80715f;
}
