header {
    p {
        text-align: center;
        font-family: solid;
        color: white;
        background-color: $gris;
        height: 26px;
        width: auto;

    }
    nav ul li {
        padding: 20px;
        display: inline;
        font-size: 25px;
        overflow: hidden;
    }

    nav ul li a {
        color: black;
        text-decoration: double;
        font-weight: bolder;
    }
    .navegacion-barra {
        text-align: center;
        overflow: hidden;
    }

}