header {
    p {
        text-align: center;
        font-family: solid;
        color: white;
        background-color: $gris;
        height: 26px;
        width: 100%;
    }
    nav ul li {
        padding: 10px;
        display: inline;
        font-size: 25px;
        overflow: hidden;
        margin: 10px;
    }

    nav ul li a {
        color: black;
        text-decoration: double;
        font-weight: bolder;
    }
    .navegacion-barra {
        text-align: center;
        overflow: hidden;
    }
    img .logo-marca{
        height: 50px;
    }

}