/* ---------------------------------seccion invierno--------------------------- */
.flex-invierno {
    background-color: #5f7393;
    padding: 10px 90px 10px 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img {
        height: 350px;
        padding: 50px;
    }
}

