/* --------------------------------------RESPONSIVE----------------------------------*/
/* -----------------RESPONSIVE INDEX----------------*/
@media (max-width:2560px){
    #main-index div img{
        width: 100%;
    }
    .caja-index-c3{
        width: 100%;
    }

}
@media (max-width:1440px){
    .containerfooter{
        height: 14vw;
    }

}
@media (max-width:1024px){
    .containerfooter{
        height: 27vw;
    }
    .header-barra-flex{
        flex-direction: column;
    }

}
@media (max-width:768px){
    .containerfooter{
        height: 36vw;
    }
}
@media (max-width:450px){
    .containerfooter{
        height: 100%;
    }
    .texto-grid-index{
        font-size: 11px;
    }
    .inicio{
        font-size: 24px;
    }
    .verano-primavera{
        font-size: 24px;
    }
    .invierno-otoño{
        font-size: 24px;
    }
    .Contacto{
        font-size: 24px;
    }
    .marcas{
        font-size: 24px;
    }
    #logo-marca{
        height: 110px;
        width: 140px;
    }
 @media (max-width:450px){
    .containerfooter{
        height: 100%;
    }
    .texto-grid-index {
        font-size: 14px;
    }
 }

}
/* --------------------------------------RESPONSIVE----------------------------------*/
/* -----------------RESPONSIVE VERANO-PRIMAVERA----------------*/
@media (max-width:400px){
    *{
        width: auto;
        height: min-content;
    }
}