/* --------------------------------------RESPONSIVE----------------------------------*/
/* -----------------RESPONSIVE INDEX----------------*/
@media (max-width:2560px) {

    #main-index div img {
        width: 100%;
    }

    .caja-index-c3 {
        width: 100%;
    }

}

@media (max-width:1440px) {

    .containerfooter {
        height: 14vw;
    }

}

@media (max-width:1024px) {

    .containerfooter {
        height: 27vw;
    }

    .header-barra-flex {
        flex-direction: column;
    }
    .containermarcas{
        justify-content: end;
    }

}
@media (max-width:595px){
    .containermarcas{
        align-items: center;
        font-size: 10px;
        padding: 0;
        gap: 0 10px;
    }
    .containermarcas img{
        height: 255px;
        padding-left: 5px;
    }

}

@media (max-width:450px) {
    .containerfooter {
        height: 100%;
    }

    .texto-grid-index {
        font-size: 11px;
    }

    @media (max-width:450px) {
        .containerfooter {
            width: 100vw;
        }

        .texto-grid-index {
            font-size: 14px;
        }
    @media (max-width:349px){ 
        .header p{
            background-size: auto;
        } 
    }

    }
}