/* --------------------------------------RESPONSIVE----------------------------------*/
/* -----------------RESPONSIVE INDEX----------------*/
@media (max-width:2560px) {

    #main-index div img {
        width: 100%;
    }

    .caja-index-c3 {
        width: 100%;
    }

}

@media (max-width:1440px) {

    .containerfooter {
        height: 14vw;
    }

}

@media (max-width:1024px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 15px;
    }

    .containerfooter {
        height: 27vw;
    }

    .header-barra-flex {
        flex-direction: column;
    }

    .containermarcas {
        justify-content: end;
    }


}

@media (max-width:595px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 15px;
    }
    .parrafo-inicio {
        font-weight: bolder;
        padding: 50px 100px 50px 100px;
    }

    .containermarcas {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        font-size: 10px;
        padding: 10px;
        gap: 0 10px;
    }

}

@media (max-width:450px) {
    .parrafo-inicio {
        font-weight: bolder;
        padding: 50px 80px 50px 80px;
    }

    .containerfooter {
        height: 100%;
    }

    .texto-grid-index {
        font-size: 11px;
    }
    .containerfooter {
        width: 100vw;
    }

    .containermarcas img {
        height: 200px;
    }

    .marcanombrescalpers {
        font-size: 23px;
    }

    .marcasrecomendadas {
        font-size: 25px;
    }

    .texto-grid-index {
        font-size: 14px;
    }
@media (max-width:320px) {
    .header p {
        background-size: auto;
    }
    .parrafo-inicio {
        font-weight: bolder;
        padding: 30px 40px 30px 40px;
    }
    }

}